#Footer{
    font-size: small;
    font-weight: 100;
    color: #FFF;
    select{
        background-color: transparent;
        color: #FFF;
        margin-left: 20px;
        option{
            color: #000;
        }
    }
    span{
        margin: auto 20px 1px 50px;
        float: right;
    }
}